<ion-view  title="Manage your room">
    <ion-content>
        <div class="list list-inset">

            <label class="item item-input">
                <input type="text" placeholder="Room Name" ng-model="roomName" style="font-weight: bold;">
            </label>

            <div class="list">
                <div class="item item-icon-left item-icon-right" ng-repeat="registerUser in registerUsers">
                    <i class="icon ion-person-stalker"></i>
                    {{registerUser.name}}
                    <a class="button button-icon-small button-clear icon ion-android-close" ng-click="delete($index)"></a>
                </div>
            </div>
            <div>

                <div class="item item-avatar">
                    <img ng-click="addItem(roommateMail); roommateMail=null" src="http://qdt.woims.de/images/versenyt%C3%A1rs_elemz%C3%A9s_c%C3%A9gre_szabott.png">
                    <!--<h2>Venkman</h2>-->
                    <input ng-model='roommateMail' typeahead="user as user.name for user in users | filter:{name:$viewValue} | limitTo:5"
                    type='text' id='labelInput' placeholder='Add a new roommate' class="form-control"/>
                </div>

     </div>
     <div align="center">
         <button class="button button-block button-assertive" ng-click="createRoom(roomName)">Create room</button>
     </div>

     <div class="">
         <p>{{infoMessage}}</p>
     </div>

 </div>

</ion-content>
</ion-view>