<ion-view title="Account">
    <ion-content>
        <div ng-show="loginForm" class="">
            <div class="list list-inset" ng-show="showLoginForm">

                <label class="item item-input">
                    <input type="text" ng-model="mail" placeholder="email"/>
                </label>
                <label class="item item-input">
                    </span><input type="password" ng-model="password" placeholder="password"/>
                </label>
                <button class="button button-block button-positive" ng-click="login(mail, password)">Login</button>

                <div ng-show="errorShow">
                    <i class="icon ion-alert assertive padding"></i> {{errorMessage}}
                </div>

                <div align="center">
                     <p>Don't have account?<p>
                    <button class="button button-outline button-assertive" ng-click="chooseSignUp()">Sign up</button>
                </div>

            </div>

            <div class="" ng-hide="showLoginForm">
                <div class="card padding-bottom">

                    <div class="item item-avatar">
                        <img src="http://www.tlemcen-electronic.com/forum/image.php?u=412&dateline=1412425679"/>
                        <h2>Welcome, {{user.name}}</h2>
                        <button class="button button-small button-clear button-positive" ng-click="logout()">
                            <i class="icon ion-power assertive"></i>   Logout
                        </button>
                    </div>

                    <div class="list">
                        <div class="item item-divider item-positive">
                            Available rooms to join
                        </div>
                        <a class="item item-radio" ng-repeat="room in availableRooms" ng-click="enterRoom($index)" href="#/tab/roommates">
                            <input type="radio" name="group">
                            <div class="item-content">
                                {{room.$id}}
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </a>
                        <div class="item item-divider item-positive">
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </ion-content>
</ion-view>